<h1>Currently Editing: <%= @recipe.name %></h1>
<p><%= @arecipe.content %></p><br>
<h2>Enter new information below.</h2>
<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="title"> Title:</label>
    <input type="text" id="title" name="title">
    <label for="content"> Content:</label>
    <input type="text" id="content" name="content">
    <input type="submit" value="submit">
</form>