<!DOCTYPE html>
<html>
  <body>
    <h1><%= @recipe.name %></h1>
    <h3>Ingredients:</h3>
    <p><%= @recipe.ingredients %></p>
    <p></p>
    <p>Cook Time: <%= @recipe.cook_time %></p>
    <form action="/recipess/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
  </body>
</html>